<?xml version="1.0"?>
<robot name="drone">

  <!-- Base Link -->
  <link name="base_link" />

  <!-- Left Camera -->
  <link name="camera_left_frame" />
  <joint name="base_to_camera_left" type="fixed">
    <parent link="base_link"/>
    <child link="camera_left_frame"/>
    <origin xyz="0 0.05 0" rpy="0 0 0"/>
  </joint>

  <!-- Right Camera -->
  <link name="camera_right_frame" />
  <joint name="base_to_camera_right" type="fixed">
    <parent link="base_link"/>
    <child link="camera_right_frame"/>
    <origin xyz="0 -0.05 0" rpy="0 0 0"/>
  </joint>

  <!-- IMU -->
  <link name="imu_link" />
  <joint name="base_to_imu" type="fixed">
    <parent link="base_link"/>
    <child link="imu_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <!-- GPS -->
  <link name="gps_link" />
  <joint name="base_to_gps" type="fixed">
    <parent link="base_link"/>
    <child link="gps_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

</robot>
